*{
  padding: 0%;
  margin: 0%;
  background-color: #051622;
  color: wheat  ;
  font-family: 'Roboto', sans-serif;
  
  /* #1BA098   #DEB992 */
}

#btn{
  background-color: #BCFD4C ;
  margin-left: 2rem;
  color:#051622;
  text-transform: uppercase;
}

#home h1{
  font-size: 3rem;
  height: 100vh;
  place-content: center;
  padding: 2rem;
  text-transform: capitalize;
}
.row{
  padding: 2rem;
  /* gap: 1rem; */
}

.team{
  text-align: center;
  text-transform: uppercase;
  border-bottom: #BCFD4C solid 1px;
  margin: 2rem;
  padding-bottom: 2rem;

}

.tab a{
  color: #BCFD4C ;
  text-transform: uppercase;
}
#img {
    position: absolute;
  top: 15%;
  left: 50%; 
}

#h_login{
  background-color:#BCFD4C;
  /* filter: drop-shadow(8px 8px 10px gray); */
}
h3{
  background-color:#BCFD4C;
  color: #051622;
  
}

#inp{
  width: 200px;
  border-radius: 8px;
}
#card{
  background-color:#051622;
}